
.section-3 {
    padding: 60px 0;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .gallery figure {
    max-width: 320px;
    margin: 0 15px 40px;
  }
  
  .h4 {

    text-align: center;
  }

  @media (min-width: 961px) {
  
    .gallery figure {
      position: relative;
      overflow: hidden;
    }
  
    .gallery figure img {
      transition: 0.5S;
    }
  
    .gallery figure:hover img {
      filter: grayscale(1);
    }
  
    .gallery figcaption {
      position: absolute;
      bottom: -50px;
      width: 100%;
      padding: 1rem;
      background-color: rgba(36, 36, 36, 0.5);
      color: #fff;
      opacity: 0;
      transition: 0.5s;
    }
  
    .gallery figure:hover figcaption {
      opacity: 1;
      bottom: 0;
    }
  
  }