.stellarnav .menu-toggle {
    font-size: 0;
    position: absolute;
    top: 20px;
    right: 20px;

    span.bars {
      margin-right: 0;

      span {
        width: 40px;
        height: 4px;
        margin-bottom: 8px;
        background-color: $light-gray;
      }
    }
  }

  .stellarnav .close-menu {
    font-size: 0;

    .icon-close {
      width: 30px;

      &::before,
      &::after {
        width: 30px;
      }
    }
  }

  .stellarnav ul {

    @media (min-width: $bp-large) {

      background-color: $dark-red, 2%;
      
      li>a {
        padding: 1rem;
        color: lighten($red, 5%);
      }
    }
  }