// Colors
$red       : rgb(61, 108, 44);
$dark-red  : rgb(61, 108, 44);
$gray      : #441e1e;
$dark-gray : #3a0f0f;
$light-gray: #47e4324a;

$link-color: $red;

// Typos
$font-default: 'Myriad Pro', sans-serif;
$font-title  : 'Adobe Garamond',      $font-default;

// Layout
$max-width: 1200px;
$bp-medium: 768px;
$bp-large : 992px;
$spacer    : 15px;



